<!-- Modal -->
<div class="modal fade" id="modal-wait" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleTransferredWaiting">Mise en attente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="zmdi zmdi-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modal-actions">
            <button type="submit" class="btn btn-secondary btn-sm" id="modal-order-wait" name="button">
              Confirmer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
