<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
      .header-cssr { padding: 20px 30px 0; line-height: 1.4; font-size: 12px;}
  </style>
</head>
<body>
  <header class="header-cssr">
    {{ center.name }}<br>
    Agrément N°{{ center.approvalNumber }}<br>
    Délivré par la préfecture de {{ center.prefecture }}
    <br style="clear:both;" />
    <br style="clear:both;" />
  </header>
</body>
</html>
