<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
      .logo-block { overflow: hidden;}
      .logo { float: left; width: 50%; margin: 30px 0 00px; color: #6B6BED; }
      .logo img { float: left; }
      .logo div { margin-top: 30px; clear: both; }
      .logo a { color: #6B6BED; }
      .logo .logo-img { float: left; padding: 0; margin: 0; display: block; height: 80px !important; width: 100% !important; }
      .logo .logo-img img { margin:0; width: 100% !important; float: left; }
  </style>
</head>
<body>
  <div class="logo-block">
    <div class="logo">
      <span class="logo-img"><img alt="Plus de Points" src="{{ absolute_url(asset('img/plus_de_points.png')) }}" title="" /></span>
      <div>
        <a href="www.plusdepoints.fr">www.plusdepoints.fr</a> - <a href="mailto:contact@plusdepoints.fr">contact@plusdepoints.fr</a>
      </div>
    </div>
  </div>
  <br style="clear:both;" />
</body>
</html>
